body {
  padding: 50px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 400px;
}

.charleft {
  flex: auto;
  margin-left: 20px;
  color: gray;
}

.tablestyle {
  border-collapse: collapse;
  width: 100%;
}

.cellstyle {
  border: 1px solid rgb(209, 198, 198);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.grabstyle:hover {
  cursor: grab;
}
.grabstyle:active {
  cursor: grabbing;
}