h1 {
  color: red
}
/* First child */
div > p {
  color: blue;
}

.purple {
  color: purple;
}

.italic {
  font-style: italic;
}

.allchild * {
  color: pink;
}

[href*=".com"] {
  border: red solid 2px;
}

h5, h6 {
  font-size: 20px;
}

h5:hover {
  border: red dotted 3px;
}


input {}

h1 .name {} /* bez atstarpes noteiktam h1 tagam, ar atstarpem taa child */

a:not(.no-style) {} /* visiem bez stila */