.topnav {
  background-color: rgb(218, 180, 218);
  width: 100%;
  height: 50px;

}

.logo {
  height: 50px;
  width:  50px;
  margin-left: 50px;
  float: left;
}

.dropdown {
  position: relative;
}

.dropb {
  margin-top: 20px;
  margin-right: 200px;
  float: right;
  cursor: pointer;
}

.dropcontent {
  display: none;
  top: 32px;
  position: absolute;
  right: 167px;
  width: 150px;
}

ul li {
  list-style: none;
  padding-bottom: 10px;
  background-color:rgb(218, 180, 218);
  text-align: center;
}

.dropdown:hover .dropcontent {
  display: block;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.form {
  margin-top: 50px;
  width: 400px;
  border: 1px solid black;
  padding: 5px;
}

.inputstyle {
  justify-content: space-between;
  display: flex;
  margin-bottom: 5px;

}
.dropdownwidth {
  width: 173px;
}

.pricewidth {
  width: 169px;
}

.description {
  width: 167px;
  height: 30px;
}

.checkbox {
  display: inline-flex;
  margin-bottom: 5px;
}

.checkboxmargin {
  margin-left: 146px;
}